.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.categories-cards .card {
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.categories .section-title h2 {
  padding: 0 24px 0 0;
  font-size: 32px;
  margin: 0px 50px;
}

.categories-cards img {
  margin-top: 40px;
}

.categories-cards .card h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 24px;
}

.categories-cards  .card.single-line h3  {
  margin-top: 50px;
}

.categories-cards  .card.single-line.transfer h3  {
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    margin: 0 30px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .categories-cards .card {
    width: 280px;
    height: 220px;
  }
}
