.destinations .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations .section-title h2 {
  padding-top: 88px;
  margin: 0 90px;
  font-size: 32px;
}

.destinations .item header {
  display: block;
  position: static;
  background-color: transparent;
  padding: 0;
}

.destinations .item .img-item {
  width: 312px;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.destinations .item .img-item.tokyo {
  background-image: url(../img/tokyo-mobile.jpg);
}

.destinations .item .img-item.osaka {
  background-image: url(../img/osaka-mobile.jpg);
}

.destinations .item h4 {
  font-weight: var(--titles-weight);
  font-size: 28px;
  font-style: bold;
  padding: 24px 0 0;
}

.destinations .item p {
  font-weight: var(--text-weight);
  font-size: 20px;
  font-style: normal;
  padding: 24px 0;
  line-height: 32px;
}

.destinations .item header,
.destinations .item p {
  width: 312px;
}

.destinations .item .button {
  width: 312px;
}

.destinations .item .button.tokyo {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .destinations .item .img-item {
    width: 648px;
    height: 452px;
  }
  .destinations .item .img-item.tokyo {
    background-image: url(../img/tokyo-tablet-desk.jpg);
  }

  .destinations .item .img-item.osaka {
    background-image: url(../img/osaka-tablet-desk.jpg);
  }

  .destinations .item header,
  .destinations .item p,
  .destinations .item footer {
    width: 648px;
  }

  .destinations .item .button {
    width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-top: 32px;
  }

  .destinations .item .img-item {
    width: 588px;
    height: 452px;
  }
  .destinations .item header,
  .destinations .item p,
  .destinations .item footer {
    width: 588px;
  }
}
