.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero-index h2 {
  padding: 88px 60px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}

.hero {
  width: 100%;
  color: var(--text-secondary-color);
  display: flex;
  align-items: center;
}

.hero-content {
  margin-left: 24px;
  margin-right: 24px;
}

.hero .section-title {
  margin: 0;
}

.hero .section-title hr {
  margin: 16px 0 32px;
}

.title-hero {
  font-size: 48px;
  font-weight: var(--title-weight);
  line-height: 100%;
}

.describe-hero {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.pacotes .hero {
  background: url(../img/pacotes-hero.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.pacotes .hero .hero-content {
  margin-top: 65px;
  margin-bottom: 65px;
}

.blog .hero {
  background: url(../img/blog-hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 88px;
}

.blog .hero .hero-content {
  margin-top: 81px;
  margin-bottom: 81px;
}

.blog .hero-content .title-hero,
.blog .hero-content .describe-hero {
  margin-right: 60px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url(../img/hero-tablet.jpg);
  }

  .hero-index h2 {
    padding: 88px 24px;
  }

  .hero {
    justify-content: center;
  }

  .hero .hero-content {
    margin: 210px auto 110px 120px;
    width: 580px;
    text-align: left;
  }

  .hero .hero-content .describe-hero {
    font-size: 32px;
    line-height: 1.5;
  }

  .blog .hero {
    background: url(../img/blog-hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog .hero .hero-content {
    margin: 158px 96px;
  }

  .blog .hero .hero-content .describe-hero {
    margin-right: 110px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background-image: url(../img/hero-desktop.jpg);
  }
  .hero-index h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero .hero-content,
  .blog .hero .hero-content {
    margin: 160px auto 160px 120px;
  }

  .blog .hero {
    background: url(../img/blog-hero-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1920px) {
  .hero-index h2 {
    padding: 88px 160px;
  }
}
