.suggestions .section-title h1 {
  width: 270px;
  margin: auto;
}

.items-suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.suggestions .item .img-item {
  width: 100%;
  height: 368px;
}
.suggestions .item.osaka .img-item {
  background: url(../img/blog-osaka-mobile.png) no-repeat;
  background-size: cover;
  background-position: right;
}
.suggestions .item.hiroshima .img-item {
  background: url(../img/blog-hiroshima-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.suggestions .item.kyoto .img-item {
  background: url(../img/blog-kyoto-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.suggestions .content-title {
  margin: 16px 0;
  font-size: 32px;
}

.suggestions .content-text {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .suggestions .section-title h1 {
    width: 480px;
  }
  .suggestions .item.osaka .img-item {
    background: url(../img/blog-osaka-tablet.png) no-repeat;
    background-size: cover;
  }
  .suggestions .item.hiroshima .img-item {
    background: url(../img/blog-hiroshima-tablet.png) no-repeat;
    background-size: cover;
  }

  .suggestions .item.kyoto .img-item {
    background: url(../img/blog-kyoto-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .items-suggestions {
    flex-direction: row;
    gap: 24px;
  }
  .suggestions .section-title h1 {
    width: auto;
  }
  .suggestions .item.osaka .img-item {
    background: url(../img/blog-osaka-mobile.png) no-repeat;
    background-size: cover;
    background-position: right;
  }
  .suggestions .item.hiroshima .img-item {
    background: url(../img/blog-hiroshima-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .suggestions .item.kyoto .img-item {
    background: url(../img/blog-kyoto-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}
